.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex: auto;
}