<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="char-header header-grid">

    <div class="header-fields header-grid">
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}

      <div class="header">
        <img class="profile" src="{{img}}" data-edit="img" title="{{name}}" height="150"
          width="150" />

        <div class="headergrid">
          <!-- <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/> -->

          <!-- PLAYER NAME -->
          <div class="headernamegrid">
            <div class="headerinputtext">{{ localize 'Mosh.Name' }}</div>
            <div class="headerinputfield charname"><input name="name" class="noborder" type="text"
                value="{{name}}" placeholder="{{ localize 'Mosh.Name' }}" /></div>
          </div>
          <div class="">
            <div class="headerinputtext">{{ localize 'Mosh.Credits' }}</div>
            <div class="headerinputfield charname"><input name="system.credits.value" class="noborder" type="text"
              value="{{system.credits.value}}" placeholder="" /></div>
          </div>

          <!-- CLASS -->
          <div class="">
            <div class="headerinputtext">{{ localize 'Mosh.CLASS' }}</div>
            <div class="headerinputfield charname"><input name="system.class.value" class="noborder" type="text"
                value="{{system.class.value}}" placeholder="" /></div>
          </div>

          <!-- RANK -->
          <div class="">
            <div class="headerinputtext">{{ localize 'Mosh.RANK' }}</div>
            <div class="headerinputfield charname"><input name="system.rank.value" class="noborder" type="text"
                value="{{system.rank.value}}" placeholder="" /></div>
          </div>

          {{#if system.settings.firstEdition}}
          <!-- Pronouns -->
          <div class="">
            <div class="headerinputtext">{{ localize 'Mosh.Pronouns' }}</div>
            <div class="headerinputfield charname"><input name="system.pronouns.value" class="noborder" type="text"
                value="{{system.pronouns.value}}" placeholder="" /></div>
          </div>
          {{else}}
          <!-- XP -->
          <div class="">
            <div class="headerinputtext">{{ localize 'Mosh.XP' }}</div>
            <div class="headerinputfield charname"><input name="system.xp.value" class="noborder" type="text"
                value="{{system.xp.value}}" placeholder="" /></div>
          </div>
          {{/if}}

          <!-- LEVEL -->
          <div class="">
            <div class="headerinputtext">{{#if system.settings.firstEdition}}{{ localize 'Mosh.HighScore' }}{{else}}{{ localize 'Mosh.Level' }}{{/if}}</div>
            <div class="headerinputfield charname"><input name="system.attributes.level.value" class="noborder"
                type="text" value="{{system.attributes.level.value}}" placeholder="" /></div>
          </div>

        </div>
      </div>

      <div class="health grid grid-2col" style="margin-top: 0; grid-template-rows: 76px 77px 72px;">
          <!-- Health -->
          <div class="resource healthspread minmaxtopstat">
            <label for="system.health.value" class="resource-label minmaxtext">{{ localize 'Mosh.Health' }}</label>

            <div class="minmaxwrapper">
              <input class="maxhealth-input darkGreyText" type="text" name="system.health.value" value="{{system.health.value}}"
                data-dtype="Number" />
              <div class="slant"></div>
              <input class="maxhealth-input darkGreyText" type="text" name="system.health.max"
                value="{{system.health.max}}" data-dtype="Number" />
            </div>

            <div class="healthmaxtext">{{ localize 'Mosh.Current' }}</div>
            <div class="healthmaxtext">{{ localize 'Mosh.Maximum' }}</div>
          </div>

          <!-- Hits -->
          <div class="resource healthspread minmaxtopstat">
            <label for="system.hits.value" class="resource-label minmaxtext">
              {{#if system.settings.firstEdition}}
             {{ localize 'Mosh.Wounds' }} 
              {{else}}
             {{ localize 'Mosh.Hits' }} 
              {{/if}}
            </label>

            <div class="minmaxwrapper">
              <input class="maxhealth-input darkGreyText" type="text" name="system.hits.value" value="{{system.hits.value}}"
                data-dtype="Number" />
              <div class="slant"></div>
              <input class="maxhealth-input darkGreyText" type="text" name="system.hits.max"
                value="{{system.hits.max}}" data-dtype="Number" />
            </div>

            <div class="healthmaxtext">{{ localize 'Mosh.Current' }}</div>
            <div class="healthmaxtext">{{ localize 'Mosh.Maximum' }}</div>
          </div>

          {{#if system.settings.useCalm}}
          <!-- Calm -->
          <div class="resource healthspread minmaxtopstat">
            <label for="system.other.stress.value" class="resource-label minmaxtext rollable calm-roll">{{ localize 'Mosh.Calm' }}</label>

            <div class="minmaxwrapper">
              <input class="maxhealth-input darkGreyText" type="text" name="system.other.stress.value" value="{{system.other.stress.value}}"
                data-dtype="Number" />
              <div class="slant"></div>
              <input class="maxhealth-input darkGreyText" type="text" name="system.other.stress.max"
                value="{{system.other.stress.max}}" data-dtype="Number" />
            </div>

            <div class="healthmaxtext">{{ localize 'Mosh.Current' }}</div>
            <div class="healthmaxtext">{{ localize 'Mosh.Maximum' }}</div>
          </div>
          {{else}}
          <!-- Stress -->
          <div class="resource healthspread minmaxtopstat">
            <label for="system.other.stress.value" class="resource-label minmaxtext rollable stress-roll">{{ localize 'Mosh.Stress' }}</label>
            <div class="minmaxwrapper">
              <input class="maxhealth-input darkGreyText" type="text" name="system.other.stress.value" value="{{system.other.stress.value}}"
                data-dtype="Number" />
              <div class="slant"></div>
              <input class="maxhealth-input darkGreyText" type="text" name="system.other.stress.min"
                value="{{system.other.stress.min}}" data-dtype="Number" />
            </div>
            <div class="healthmaxtext">{{ localize 'Mosh.Current' }}</div>
            <div class="healthmaxtext">{{ localize 'Mosh.Minimum' }}</div>
          </div>
          {{/if}}

          {{#if system.settings.firstEdition}}
          {{else}}
          <!-- Resolve -->
          <div class="resource healthspread minmaxtopstat">
            <label for="system.other.resolve.value" class="resource-label minmaxtext">{{ localize 'Mosh.Resolve' }}</label>
            <div class="valuewrapper">
              <input class="maxhealth-input darkGreyText" type="text" name="system.other.resolve.value" value="{{system.other.resolve.value}}" data-dtype="Number" />
            </div>
          </div>
          {{/if}}

          {{#if system.settings.firstEdition}}
          <!-- Armor -->
          <div class="resource healthspread minmaxtopstat" style="grid-column-start: 2; grid-column-end: 3;">
            <label for="system.stats.armor.value" class="resource-label minmaxtext rollable armor-roll">{{ localize 'Mosh.Armor' }}</label>
            <div class="minmaxwrapper" style="width: 100%; background: black; border-radius: 0.3em;">
              <div class="maxhealth-input" style="display: flex;">
                <div class="whiteText" type="text" data-dtype="Number">{{system.stats.armor.mod}}</div>
                {{#if (compare 'str' system.stats.armor.cover '===' 'insignificant')}}
                <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;5</div>
                {{/if}}
                {{#if (compare 'str' system.stats.armor.cover '===' 'light')}}
                <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;10</div>
                {{/if}}
                {{#if (compare 'str' system.stats.armor.cover '===' 'heavy')}}
                <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;20</div>
                {{/if}}
              </div>
              <div class="slant" style="border-right: 2px solid #ffffff; transform: skewX(0deg);"></div>
              <div class="maxhealth-input" style="display: flex;">
                <div class="whiteText" type="text" data-dtype="Number">{{system.stats.armor.damageReduction}}</div>
                {{#if (compare 'str' system.stats.armor.cover '===' 'heavy')}}
                <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;5</div>
                {{/if}}
              </div>
            </div>
            <div class="healthmaxtext">{{ localize 'Mosh.ArmorPoints' }}</div>
            <div class="healthmaxtext">{{ localize 'Mosh.DMGReduction' }}</div>
          </div>
          {{/if}}
          <!-- CLASS -->
          <div class="" style="margin-left: 6px; margin-right: 0px; flex: 0; grid-column-start: 1; grid-column-end: 3;">
            {{#if system.settings.firstEdition}}
            <div class="resource-label">{{ localize 'Mosh.TraumaResponse' }}</div>
            {{else}}
            <div class="resource-label">{{ localize 'Mosh.StressResponse' }}</div>
            {{/if}}
            {{#if system.settings.firstEdition}}
            <textarea name="system.other.stressdesc.value" rows="2" class="textarea-input" type="text"
              data-target="system.other.stressdesc.value" placeholder="" style="height: 50px;">{{system.other.stressdesc.value}}</textarea>
            {{else}}
            <textarea name="system.other.stressdesc.value" rows="2" class="textarea-input" type="text"
              data-target="system.other.stressdesc.value" placeholder="" style="height: 90px;">{{system.other.stressdesc.value}}</textarea>
            {{/if}}
          </div>

          <!-- XP -->
          <!-- <div class="char-pip-button list-roll flex" data-key="xp" data-label="XP" data-max="8"  data-min="0">
            {{{system.xp.html}}}
          </div> -->

      </div>

      <div class="abilities">
        <!-- <div class="grid grid-2col"> -->
          <!-- STRESS -->
          <!-- <div class="resource mainstat">
            <div class="stresslabel">
              <div class="ability-mod stresstext">STRESS</div>
            </div>
            <input class="smallcircle-input" type="text" name="system.other.stress.value"
              value="{{system.other.stress.value}}" data-dtype="Number" />
          </div> -->

          <!-- RESOLVE -->
          <!-- <div class="resource mainstat">
            <div class="stresslabel">
              <div class="ability-mod stresstext">RESOLVE</div>
            </div>
            <input class="smallcircle-input" type="text" name="system.other.resolve.value"
              value="{{system.other.resolve.value}}" data-dtype="Number" />
          </div> -->
        <!-- </div> -->

        {{#if system.settings.firstEdition}}
        <div class="grid grid-1col widegap">
        {{else}}
        <div class="grid grid-1col widegap" style="gap: 24px">
        {{/if}}

          <!-- Strength -->
          <div class="mainstatwrapper">
            <div class="resource mainstat">
              <div class="mainstatlabel">
                <span class="ability-mod stat-roll rollable mainstattext" data-key="strength"
                  data-label="{{ localize 'Mosh.Strength' }}">{{ localize 'Mosh.Strength' }}</span>
              </div>
              <input class="circle-input" type="text" name="system.stats.strength.value"
                value="{{system.stats.strength.value}}" data-dtype="Number" />
            </div>
            <input class="mainstatmod-input" type="text" name="system.stats.strength.mod"
              value="{{system.stats.strength.mod}}" data-dtype="Number" />
            <div class="mainstatmod-title">+</div>
          </div>

          <!-- Speed -->
          <div class="mainstatwrapper">
            <div class="resource mainstat">
              <div class="mainstatlabel">
                <span class="ability-mod stat-roll rollable mainstattext" data-key="speed" data-roll="d100"
                  data-label="{{ localize 'Mosh.Speed' }}">{{ localize 'Mosh.Speed' }}</span>
              </div>
              <input class="circle-input" type="text" name="system.stats.speed.value" value="{{system.stats.speed.value}}"
                data-dtype="Number" />
            </div>
            <input class="mainstatmod-input" type="text" name="system.stats.speed.mod" value="{{system.stats.speed.mod}}"
              data-dtype="Number" />
            <div class="mainstatmod-title">+</div>
          </div>

          <!-- Intellect -->
          <div class="mainstatwrapper">
            <div class="resource mainstat">
              <div class="mainstatlabel">
                <span class="ability-mod stat-roll rollable mainstattext" data-key="intellect" data-roll="d100"
                  data-label="{{ localize 'Mosh.Intellect' }}">{{ localize 'Mosh.Intelect' }}</span>
              </div>
              <input class="circle-input" type="text" name="system.stats.intellect.value"
                value="{{system.stats.intellect.value}}" data-dtype="Number" />
            </div>
            <input class="mainstatmod-input" type="text" name="system.stats.intellect.mod"
              value="{{system.stats.intellect.mod}}" data-dtype="Number" />
            <div class="mainstatmod-title">+</div>
          </div>

          <!-- Combat -->
          <div class="mainstatwrapper">
            <div class="resource mainstat">
              <div class="mainstatlabel">
                <span class="ability-mod stat-roll rollable mainstattext" data-key="combat" data-roll="d100"
                  data-label="{{ localize 'Mosh.Combat' }}">{{ localize 'Mosh.Combat' }}</span>
              </div>
              <input class="circle-input" type="text" name="system.stats.combat.value" value="{{system.stats.combat.value}}"
                data-dtype="Number" />
            </div>
            <input class="mainstatmod-input" type="text" name="system.stats.combat.mod" value="{{system.stats.combat.mod}}"
              data-dtype="Number" />
            <div class="mainstatmod-title">+</div>
          </div>
        </div>
      </div>
      <!-- SAVES -->
      {{#if system.settings.firstEdition}}
      <div class="saves grid grid-1col savebackground">
      {{else}}
      <div class="saves grid grid-1col savebackground" style = "height: 264px;">
      {{/if}}
        <!-- Sanity -->
        <div class="resource flex-group-center">
          <span class="ability-mod stat-roll rollable savetext" data-roll="d100" data-label="Sanity" data-key="sanity" data-target="{{system.stats.sanity.value}}">{{ localize 'Mosh.Sanity' }}</span>
          <div class="grid grid-3col" style="grid-template-columns: 44px 14px 42px; margin-left:6px;">
            <input class="square-input" type="text" name="system.stats.sanity.value" value="{{system.stats.sanity.value}}" data-dtype="Number" />
            <div class="mainstatmod-title" style="top: 10px;">+</div>
            <input class="mainsavemod-input" style="top: 5px;" type="text" name="system.stats.sanity.mod" value="{{system.stats.sanity.mod}}" data-dtype="Number" />
          </div>	
        </div>
        <!-- Fear -->
        <div class="resource flex-group-center">
          <span class="ability-mod stat-roll rollable savetext" data-roll="d100" data-key="fear" data-target="{{system.stats.fear.value}}" data-label="{{ localize 'Mosh.Fear' }}">{{ localize 'Mosh.Fear' }}</span>
          <div class="grid grid-3col" style="grid-template-columns: 44px 14px 42px; margin-left:6px;">
            <input class="square-input" type="text" name="system.stats.fear.value" value="{{system.stats.fear.value}}" data-dtype="Number" />
            <div class="mainstatmod-title" style="top: 10px;">+</div>
            <input class="mainsavemod-input" style="top: 5px;" type="text" name="system.stats.fear.mod" value="{{system.stats.fear.mod}}" data-dtype="Number" />
          </div>	
        </div>
        <!-- Body -->
        <div class="resource flex-group-center">
          <span class="ability-mod stat-roll rollable savetext" data-roll="d100" data-key="body" data-target="{{system.stats.body.value}}" data-label="{{ localize 'Mosh.Body' }}">{{ localize 'Mosh.Body' }}</span>
          <div class="grid grid-3col" style="grid-template-columns: 44px 14px 42px; margin-left:6px;">
            <input class="square-input" type="text" name="system.stats.body.value" value="{{system.stats.body.value}}" data-dtype="Number" />
            <div class="mainstatmod-title" style="top: 10px;">+</div>
            <input class="mainsavemod-input"  style="top: 5px;"type="text" name="system.stats.body.mod" value="{{system.stats.body.mod}}" data-dtype="Number" />
          </div>	
        </div>

        {{#unless system.settings.firstEdition}}
        <!-- Armor -->
        <div class="resource flex-group-center">
          <span class="ability-mod stat-roll rollable savetext" data-roll="d100" data-key="armor" data-target="{{system.stats.armor.value}}" data-label="{{ localize 'Mosh.Armor' }}">{{ localize 'Mosh.Armor' }}</span>
          <div class="grid grid-3col" style="grid-template-columns: 44px 14px 42px; margin-left:6px;">
            <input class="square-input" type="text" name="system.stats.armor.value" value="{{system.stats.armor.value}}" data-dtype="Number" />
            <div class="mainstatmod-title" style="top: 10px;">+</div>
            <div class="mainsavemod-input"  style="top: 5px; padding: 5px;" type="text" name="system.stats.armor.mod" value="{{system.stats.armor.mod}}" data-dtype="Number">{{system.stats.armor.mod}}</div>
          </div>	
        </div>
        {{/unless}}

      </div>

    </div>
  </header>

    


  {{!-- Sheet Tab Navigation --}}
  <nav class="mosh sheet-tabs tabs" data-group="primary">
    <a class="tab-select" data-tab="skills">{{ localize 'Mosh.Skills' }}</a>
    <a class="tab-select" data-tab="weapons">{{ localize 'Mosh.Weapons' }}</a>
    <a class="tab-select" data-tab="items">{{ localize 'Mosh.Items' }}</a>
    <a class="tab-select" data-tab="description">{{ localize 'Mosh.Bio' }}</a>
    <a class="tab-select" data-tab="notes">{{ localize 'Mosh.Notes' }}</a>

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor system.biography target="system.biography" button=true editable=true}}
    </div>
    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor system.notes target="system.notes" button=true editable=true}}
    </div>
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{#if system.settings.firstEdition}}
      <!-- ARMOR -->
      <ol class="items-list" role="table">
        <li class="item flexrow item-header" role="rowgroup">
          <div class="item-image" role="cell"></div>
          <div class="skill-stat" style="flex-grow: 2.5;" role="cell">{{ localize 'Mosh.ArmorName' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Mosh.AP' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Mosh.DR' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Mosh.Speed' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Mosh.Oxygen' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Mosh.Equipped' }}</div>
          <div class="item-controls" role="cell">
            <a class="item-control item-create" title="{{ localize 'Mosh.CreateArmor' }}" data-type="armor"><i class="fas fa-plus"></i> {{ localize 'Mosh.Add' }}</a>
          </div>
        </li>
        {{#each armors as |armor id|}}
        <li class="item flexrow dropitem" data-item-id="{{armor._id}}" role="rowgroup">
          <div class="item-image" role="cell"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24" /></div>
          <h4 class="skill-name list-roll description-roll" style="flex-grow: 2.55;" role="cell">{{armor.name}}</h4>
          <div class="skill-stat" role="cell">{{armor.system.armorPoints}}</div>
          <div class="skill-stat" role="cell">{{armor.system.damageReduction}}</div>
          <div class="skill-stat">{{armor.system.speed}}</div>
          {{#if armor.system.oxygenMax}}
          <div class="skill-stat armor-oxy list-roll" role="cell">{{armor.system.oxygenCurrent}}/{{armor.system.oxygenMax}}</div>
          {{else}}
          <div class="skill-stat" role="cell">{{ localize 'Mosh.NA' }}</div>
          {{/if}}
          <div class="skill-stat item-equip" role="cell"><input type="checkbox" name="armor.system.equipped" data-dtype="Boolean"
              {{checked armor.system.equipped}} /></div>
          <div class="item-controls" role="cell">
            <a class="item-control item-edit" title="{{ localize 'Mosh.EditArmor' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Mosh.DeleteArmor' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
      {{else}}
      <!-- ARMOR -->
      <ol class="items-list" role="table">
        <li class="item flexrow item-header" role="rowgroup">
          <div class="item-image" role="cell"></div>
          <div class="skill-stat" style="flex-grow: 2.5;" role="cell">{{ localize 'Mosh.ArmorName' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Mosh.SaveBonus' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Mosh.Speed' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Mosh.Oxygen' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Mosh.Equipped' }}</div>
          <div class="item-controls" role="cell">
            <a class="item-control item-create" title="{{ localize 'Mosh.CreateArmor' }}" data-type="armor"><i class="fas fa-plus"></i> {{ localize 'Mosh.Add' }}</a>
          </div>
        </li>
        {{#each armors as |armor id|}}
        <li class="item flexrow dropitem" data-item-id="{{armor._id}}" role="rowgroup">
          <div class="item-image" role="cell"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24" /></div>
          <h4 class="skill-name list-roll description-roll" style="flex-grow: 2.55;" role="cell">{{armor.name}}</h4>
          <div class="skill-stat" role="cell">{{armor.system.armorPoints}}</div>
          <div class="skill-stat">{{armor.system.speed}}</div>
          {{#if armor.system.oxygenMax}}
          <div class="skill-stat armor-oxy list-roll" role="cell">{{armor.system.oxygenCurrent}}/{{armor.system.oxygenMax}}</div>
          {{else}}
          <div class="skill-stat" role="cell">{{ localize 'Mosh.NA' }}</div>
          {{/if}}
          <div class="skill-stat item-equip" role="cell"><input type="checkbox" name="armor.system.equipped" data-dtype="Boolean"
              {{checked armor.system.equipped}} /></div>
          <div class="item-controls" role="cell">
            <a class="item-control item-edit" title="{{ localize 'Mosh.EditArmor' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Mosh.DeleteArmor' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
      {{/if}}

      <!-- ITEMS -->
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat" style="flex-grow: 1.5;">{{ localize 'Mosh.ItemName' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.Quantity' }}</div>
          {{#if system.settings.hideWeight}}
          {{else}}
          <div class="skill-stat">{{ localize 'Mosh.Weight' }}</div>
          {{/if}}
          <div class="skill-stat">{{ localize 'Mosh.Value' }}</div>
          <div class="item-controls">
            <a class="item-control item-create" title="{{ localize 'Mosh.CreateItem' }}" data-type="item"><i class="fas fa-plus"></i> Add</a>
          </div>
        </li>
        {{#if system.settings.hideWeight}}
          {{#each gear as |item id|}}
          <li class="item flexrow dropitem" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="skill-name list-roll description-roll" style="flex-grow: 1.5;">{{item.name}}</h4>
            <div class="skill-stat list-roll item-quantity">{{item.system.quantity}}</div>
            <div class="skill-stat">{{item.system.cost}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="{{ localize 'Mosh.EditItem' }}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{ localize 'Mosh.DeleteItem'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        {{else}}
          {{#each gear as |item id|}}
          <li class="item flexrow dropitem" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="skill-name list-roll description-roll" style="flex-grow: 1.54;">{{item.name}}</h4>
            <div class="skill-stat list-roll item-quantity">{{item.system.quantity}}</div>
            <div class="skill-stat">{{item.system.weight}}</div>
            <div class="skill-stat">{{item.system.cost}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="{{ localize 'Mosh.EditItem' }}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{ localize 'Mosh.DeleteItem' }}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        {{/if}}
      </ol>
      {{#unless system.settings.hideWeight}}
      <div class="item flex-group-left item-header">
        <div class="skill-stat" style="flex-grow: 1.5;">{{ localize 'Mosh.CarryingCapacity' }}: {{system.weight.capacity}}</div>
        <div class="skill-stat">{{ localize 'Mosh.CurrentWeight' }}: {{system.weight.current}}</div>
      </div>
      {{/unless}}

    </div>
    {{!-- Owned Skills Tab --}}
    <div class="tab items" data-group="primary" data-tab="skills">
      <!-- SKILLS -->
      <ol class="items-list" style="margin-bottom : 10px;">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat">{{ localize 'Mosh.SkillName' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.SkillRank' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.SkillBonus' }}</div>
          <div class="item-controls">
            <a class="item-control skill-create" title="{{ localize 'Mosh.CreateSkill' }}" data-type="skill"><i class="fas fa-plus"></i> {{ localize 'Mosh.Add' }}</a>
          </div>
        </li>
        {{#each skills as |skill id|}}
        <li class="item flexrow dropitem" data-item-id="{{skill._id}}">
          <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div>
          <div class="skill-name skill-roll list-roll">{{skill.name}}</div>
          <div class="skill-stat">{{skill.system.rank}}</div>
          <div class="skill-stat">{{skill.system.bonus}}</div>
          <div class="item-controls">
            <a class="item-control skill-edit" title="{{ localize 'Mosh.EditSkill' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Mosh.DeleteSkill' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      {{#if system.settings.firstEdition}}

      <!-- XP -->
      <div class ="skill_training_frame" style="margin-bottom : 10px;">
        <div class="grid grid-3col" style="grid-template-columns: 90px auto 283px ;">
          <div class="skill-stat" style="position: relative; top: 6px;"><strong>{{ localize 'Mosh.SkillTraining' }}</strong></div>
          <textarea name="system.xp.selectedSkill" rows="2" class="textarea-input-grey" type="text" data-target="system.xp.selectedSkill" placeholder="" style="height: 30px; margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); background: white; color: black;">{{system.xp.selectedSkill}}</textarea>
          <div class="char-pip-button list-roll flex" style="position: relative; top: -7px;" data-key="xp" data-label="XP" data-max="16"  data-min="0">{{{system.xp.html}}}</div>
        </div>
      </div>

      {{/if}}
      
      <div class="seperatorLine"></div>



      <!-- Conditions -->
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat">{{ localize 'Mosh.Condition' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.Severity' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.Treatment' }}</div>
          <div class="item-controls">
            <a class="item-control item-create" title="{{ localize 'Mosh.CreateCondition' }}" data-type="condition"><i class="fas fa-plus"></i> {{ localize 'Mosh.Add' }}</a>
          </div>
        </li>
        {{#each conditions as |condition id|}}
        <li class="item flexrow dropitem" data-item-id="{{condition._id}}">
          <div class="item-image"><img src="{{condition.img}}" title="{{condition.name}}" width="24" height="24"/></div>
          <div class="skill-name description-roll list-roll">{{condition.name}}</div>
          <div class="skill-stat list-roll severity">{{condition.system.severity}}</div>
          <div class="skill-stat">
            {{#if condition.system.treatment.html}}
            <div class="treatment-button list-roll flex" style="margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);" data-key="condition" data-label="condition" data-max="3"  data-min="0">
            {{{condition.system.treatment.html}}}
            </div>
            {{else}}
            <div class="treatment-button list-roll flex" style="margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);" data-key="condition" data-label="condition" data-max="3"  data-min="0">
            {{condition.name}}
            </div>
            {{/if}}
          </div>
          <div class="item-controls">
            <a class="item-control skill-edit" title="{{ localize 'Mosh.EditCondition' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Mosh.DeleteCondition' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>

        {{/each}}
      </ol>


    </div>

    {{!-- Owned Weapons Tab --}}
    <div class="tab items" data-group="primary" data-tab="weapons">
      <!-- WEAPONS -->
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat" style="flex-grow: 2;">{{ localize 'Mosh.WeaponName' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.Damage' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.Ammo' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.Shots' }}</div>
          <div class="skill-stat">{{ localize 'Mosh.Range' }}</div>
          <div class="item-controls">
            <a class="item-control weapon-create" title="{{ localize 'Mosh.CreateWeapon' }}" data-type="weapon"><i class="fas fa-plus"></i> {{ localize 'Mosh.Add' }}</a>
          </div>
        </li>

        {{#each weapons as |weapon id|}}
        <li class="item flexrow dropitem" data-item-id="{{weapon._id}}">
          <!-- <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div> -->
          <div class="item-image"><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24" /></div>
          <div class="skill-name weapon-roll list-roll" style="flex-grow: 2.05;">{{weapon.name}}</div>
          {{#if weapon.system.antiArmor}}
          <div class="skill-stat dmg-roll list-roll">{{weapon.system.damage}} ({{ localize 'Mosh.AntyArmorAcronym' }})</div>
          {{else}}
          <div class="skill-stat dmg-roll list-roll">{{weapon.system.damage}}</div>
          {{/if}}
          {{#if weapon.system.useAmmo}}
          <div class="skill-stat weapon-ammo list-roll">{{weapon.system.ammo}}</div>
          {{else}}
          <div class="skill-stat">{{ localize 'Mosh.NA' }}</div>
          {{/if}}
          {{#if weapon.system.useAmmo}}
            {{#if (compare 'int' weapon.system.curShots '===' weapon.system.shots)}}
            <div class="skill-stat">
              <a class="weapon-shots list-roll" title="{{ localize 'Mosh.EditWeapon' }}">{{weapon.system.curShots}}/{{weapon.system.shots}}</a>
            </div>
            {{else}}
            <div class="skill-stat">
              <a class="weapon-shots list-roll">{{weapon.system.curShots}}/{{weapon.system.shots}}</a>
              <a class="weapon-reload list-roll"><i class="fas fa-sync"></i></a>
            </div>
            {{/if}}
          {{else}}
          <div class="skill-stat">{{ localize 'Mosh.NA' }}</div>
          {{/if}}
          {{#if weapon.system.ranges.value}}
          <div class="skill-stat">{{weapon.system.ranges.value}}</div>
          {{else}}
          <div class="skill-stat">{{ localize 'Mosh.NA' }}</div>
          {{/if}}
          <div class="item-controls">
            <a class="item-control weapon-edit" title="{{ localize 'Mosh.EditWeapon' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Mosh.DeleteWeapon' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>
