<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}

  <header class="creature-header-grid">
    <div class="creature-header">

      <!-- Creature NAME -->
      <input name="name" class="noborder creaturename" type="text" value="{{actor.name}}" placeholder="Name" />
      <!-- Combat -->
      <div class="mainstatwrapper">
        <div class="resource mainstat">
          <span class="ability-mod stat-roll rollable creaturestat" data-key="combat" data-roll="d100"
            data-label="Combat">COMBAT</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="data.stats.combat.value"
            value="{{data.stats.combat.value}}" data-dtype="Number" />
        </div>
      </div>
      <!-- Instinct -->
      <div class="mainstatwrapper">
        <div class="resource mainstat">
          <span class="ability-mod stat-roll rollable creaturestat" data-key="instinct" data-roll="d100"
            data-label="Instinct">Instinct</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="data.stats.instinct.value"
            value="{{data.stats.instinct.value}}" data-dtype="Number" />
        </div>
      </div>
      <!-- Move -->
      <div class="mainstatwrapper">
        <div class="resource mainstat">
          <span class="creaturestat" data-key="move" data-roll="d100" data-label="Move">Move</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="data.stats.move.value"
            value="{{data.stats.move.value}}" data-dtype="Number" />
        </div>
      </div>
      <!-- Health / Hits -->
      <div class="mainstatwrapper">
        <div class="resource mainstat">
          <span class="creaturestat" data-key="move" data-roll="d100" data-label="Move">Hits</span>
          <div style="grid-template-columns: 2em 2em; display: flex;">
            <input class="creaturestat noborder" style="width: 24px;" type="text" name="data.health.maxpools"
              value="{{data.health.maxpools}}" data-dtype="Number" />
            <div>
              (<input class="creaturestat noborder" style="width: 26px;" type="text" name="data.health.max"
                value="{{data.health.max}}" data-dtype="Number" />)
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="health grid grid-1col">
        <div class="resource healthspread minmaxtopstat">
          <label for="data.health.value" class="resource-label minmaxtext">Health</label>

          <div class="minmaxwrapper">
            <input class="sizelarge circle-input greyText" type="text" name="data.health.value"
              value="{{data.health.value}}" data-dtype="Number" />
            <input class="maxhealth-input darkGreyText" type="text" name="data.health.max" value="{{data.health.max}}"
              data-dtype="Number" />
          </div>
          <div class="healthmaxtext">MAX</div>
          <div class="healthmaxtext">CURRENT</div>

        </div>
      </div> -->
    </div>
    <div class="whiteline"></div>
  </header>
  <div class="creature-description-grid">
    <div class="creaturedescription">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
    <div class="creature-abilities">
      <img class="img noborder" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="auto" width="100%" />
      <div class="creature-ability-container creature-ability-title">Special Abilities</div>
      <div class="whiteline"></div>
      {{#each actor.abilities as |ability id|}}
      <div class="creature-ability-container item" data-item-id="{{ability._id}}">
        <div class="creature-ability-title list-roll description-roll">{{ability.name}}</div>
        <div class="creature-ability-text itemtext">{{{ability.data.description}}}</div>
        <div class="item-controls" style="margin-left: 3px; font-size: 0.7rem;">
          <a class="item-control item-edit darkgrey" title="Edit Ability"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete darkgrey" title="Delete Ability"><i class="fas fa-trash"></i></a>
        </div>
      </div>

      {{/each}}
      <a class="item-control weapon-create darkgrey " style="margin-left: 5px;" title="Create Ability"
        data-type="ability"><i class="fas fa-plus"></i>
        Add</a>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="mothership sheet-tabs tabs" data-group="primary">
    <a class="tab-select" data-tab="weapons">Weapons</a>
    <a class="tab-select" data-tab="description">Bio</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>
    {{!-- Owned Weapons Tab --}}
    <div class="tab items" data-group="primary" data-tab="weapons">
      <!-- WEAPONS -->
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat">Name</div>
          <div class="skill-stat">Damage</div>
          <div class="skill-stat">Ammo</div>
          <div class="skill-stat">Shots</div>
          <div class="skill-stat">S/M/L</div>
          <div class="item-controls">
            <a class="item-control weapon-create" title="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i>
              Add</a>
          </div>
        </li>
        {{#each actor.weapons as |weapon id|}}
        <li class="item flexrow" data-item-id="{{weapon._id}}">
          <!-- <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div> -->
          <div class="item-image"><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24" /></div>
          <div class="skill-name weapon-roll list-roll">{{weapon.name}}</div>
          <div class="skill-stat">{{weapon.data.damage}}</div>
          <div class="skill-stat weapon-ammo list-roll">{{weapon.data.ammo}}</div>
          <div class="skill-stat">{{weapon.data.curShots}}/{{weapon.data.shots}} <i
              class="fas fa-sync weapon-reload list-roll"></i></div>
          <div class="skill-stat">{{weapon.data.ranges.short}}/{{weapon.data.ranges.medium}}/{{weapon.data.ranges.long}}
          </div>
          <div class="item-controls">
            <a class="item-control weapon-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}

      </ol>
    </div>
  </section>
</form>