<div class="mosh">
    <div class="rollcontainer">
        <div class="flexrow" style="margin-bottom : 5px;">
            {{#if (compare 'int' item.name.length '>=' 22)}}
            <div class="rollweaponh1" style="font-size: 0.75rem; padding-top: 7px;">{{{item.name}}}</div>
            {{else}}
            <div class="rollweaponh1" >{{{item.name}}}</div>
            {{/if}}
            <div style="text-align: right"><img class="roll-image" src="systems/mosh/images/icons/ui/macros/reload.png" /></div>
        </div>
        <div class="description">
            <div class="body">{{{msgBody}}}</div>
        </div>
        <div style="margin-bottom : 16px;"></div>
    </div>
</div>