<div class="mosh">
    <div class="rollcontainer">
        <div class="flexrow" style="margin-bottom : 5px;">
            <div class="rollweaponh1">{{{tableResult[0].parent.name}}}</div>
            <div style="text-align: right"><img class="roll-image" src="{{{tableResult.[0].img}}}" title="{{{tableResult.[0].parent.name}}}" /></div>
        </div>
        {{{parsedRollResult.outcomeHtml}}}
        <div class="description" style="margin-bottom: 10px;">
            <div class="body">{{{flavorText}}}</div>
        </div>
        {{{parsedRollResult.rollHtml}}}
        <div class="description" style="margin-bottom : 20px;">{{{tableResult.[0].text}}}</div>
    </div>
</div>