<div class="mothership" {{#if actor._id}}data-actor-id="{{actor._id}}" {{/if}}
    {{#if item._id}}data-item-id="{{item._id}}"{{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <div class="showinfo"></div>
    <div class="showlessinfo"></div>

    <div class="rollcontainer">
        <div class="rollh1">{{item.name}}</div>

        {{#if advantage}}
        <div class="rollh2">A/D</div>
        {{else}}
        <div class="rollh2">{{data.resultText.value}}</div>
        {{/if}}

        <div class="roll-grid">
            {{#if advantage}}
            <div class="roll-result">{{data.diceTotal.value}} / {{data.diceTotal.advantageValue}}</div>
            {{else}}
            <div class="roll-result">{{data.diceTotal.value}}</div>
            {{/if}}

            {{#if data.isCreature.value}}
            <div class="gmonly">
                <span class="tooltiptext">
                    {{#each diceData.dice}}
                    <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                        <label style="color:{{this.color}};">
                            {{this.result}}
                        </label>
                        {{#if this.img}}
                        <img src='{{this.img}}' />
                        {{/if}}
                    </div>
                    {{/each}}
                </span>
            </div>
            {{else}}
            <span class="tooltiptext">
                {{#each diceData.dice}}
                <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                    <label style="color:{{this.color}};">
                        {{this.result}}
                    </label>
                    {{#if this.img}}
                    <img src='{{this.img}}' />
                    {{/if}}
                </div>
                {{/each}}
            </span>
            {{/if}}
        </div>
        <div class="roll-target">
            <div class="valuetext">Target:</div>
            <div class="roll-targetbox">
                {{#if useSkill}}
                <div class="value">{{this.target}} + {{this.mod}}</div>
                {{else}}
                <div class="value">{{this.target}} + {{this.mod}} + {{skillbonus}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>