<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Combat</label>
                    <input type="checkbox" name="actor.data.stats.combat.enabled" id="data.stats.combat.enabled" value="{{data.stats.combat.enabled}}" {{#if actor.data.stats.combat.enabled}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <div class="resource">
                    <label class="resource-label">Instinct</label>
                    <input type="checkbox" name="actor.data.stats.instinct.enabled" id="data.stats.instinct.enabled" value="{{data.stats.instinct.enabled}}" {{#if actor.data.stats.instinct.enabled}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <div class="resource">
                    <label class="resource-label">Loyalty</label>
                    <input type="checkbox" name="actor.data.stats.loyalty.enabled" id="data.stats.loyalty.enabled" value="{{data.stats.loyalty.enabled}}" {{#if actor.data.stats.loyalty.enabled}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <div class="resource">
                    <label class="resource-label">Speed</label>
                    <input type="checkbox" name="actor.data.stats.speed.enabled" id="data.stats.speed.enabled" value="{{data.stats.speed.enabled}}" {{#if actor.data.stats.speed.enabled}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <div class="resource">
                    <label class="resource-label">Armor</label>
                    <input type="checkbox" name="actor.data.stats.armor.enabled" id="data.stats.armor.enabled" value="{{data.stats.armor.enabled}}" {{#if actor.data.stats.armor.enabled}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <div class="resource">
                    <label class="resource-label">Sanity</label>
                    <input type="checkbox" name="actor.data.stats.sanity.enabled" id="data.stats.sanity.enabled" value="{{data.stats.sanity.enabled}}" {{#if actor.data.stats.sanity.enabled}}checked{{/if}} data-dtype="Boolean" />
                </div>
            </div>
        </div>
    </header>
</form>