<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <!-- Header -->
        <div class="header-fields">

        </div>
    </header>

    <div class="circle-statwrapper" style="gap: 10px;">
        <div class="circlestattitle" style="font-size: 1.4rem;">Ship Setup<i class="fa-solid fa-wrench"></i></div>
        <!-- Starting Conditions -->
        <div class="button-black conditions-button list-roll" style="width: 95%;">Roll Starting Condition</div>

        <div class="button-white close-button list-roll" style="width: 95%;">FINISH <i class="fa-solid fa-right-long"></i></div>

    </div>
    

    <!-- !! Frame Selector !! -->

    <!-- <div class="circle-statwrapper" style="gap: 10px;">        
        <div class="dropdown">
            <button class="dropbtn">Frame Selection</button>
            <div class="dropdown-content">
              <a>Blank</a>
              <a>Shuttle</a>
            </div>
          </div>
    </div> -->

    


</form>