<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <!-- Header -->
        <div class="header-fields">

        </div>
    </header>

    <div class="circle-statwrapper" style="gap: 10px;">
        <div class="circlestattitle" style="font-size: 1.1rem;">{{ localize 'Mosh.MegadamageEffects' }}</div>

        <!-- Starting Conditions -->
        <div class="sbt-megadamage-menu">{{{actor.system.megadamage.menu.html}}}</div>
    </div>
    <br/>
    <div class="button-white close-button list-roll" style="width: 95%;">{{ localize 'Mosh.Finish' }} <i class="fa-solid fa-right-long"></i></div>

</form>
