<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <!-- Header -->
        <div class="header-fields">

        </div>
    </header>
    <div class="circlestattitle black" style="font-size: 1.25rem;">{{actor.name}}</div>
    <div class="greyline"></div>
    <!-- Stats -->
    <div class="circle-statwrapper" style="gap: 10px;">
        <div class="circlestattitle">Ship Macros</div>

        <!-- Distress! -->
        <div class="button-black distress-button list-roll" style="width: 95%;">Distress Signal</div>

        <!-- Morale -->
        <div class="button-black morale-button list-roll" style="width: 95%;">Morale Check</div>
    </div>

    <br/>

    <!-- Finance -->
    <div class="circle-statwrapper" style="gap: 5px;">

        <div class="circlestattitle">Finances <i class="fa-solid fa-chart-line-down"></i></div>


        <div class="resource circle-stat">
            <input class="circle-input" type="text" name="actor.system.stats.bankruptcy.value"
                value="{{actor.system.stats.bankruptcy.value}}" data-dtype="Number" />
        </div>
        <div class="circlestatlabel">
            <span class="ability-mod circlestattext" data-key="bankruptcy" data-label="Bankruptcy">Bankruptcy</span>
        </div>

        <div class="button-black bankruptcy-button list-roll" style="width: 95%;">Bankruptcy Check</div>


    </div>

    <br/>

    <div class="circle-statwrapper" style="gap: 10px;">
        <div class="circlestattitle">Maintenance & Repairs <i class="fa-solid fa-wrench"></i></div>
        <!-- Maintenance -->
        <div class="button-black maintenance-button list-roll" style="width: 95%;">Maintenance Check</div>
        <!-- Starting Conditions -->
        <!-- <div class="button-black maintenance-button list-roll" style="width: 95%;">Roll Starting Condition</div> -->
    </div>

    <br/>

        <!-- Deckplan -->
    <!-- <div class="circle-statwrapper" style="gap: 10px;">
        <div class="button-black deckplan-button list-roll" style="width: 95%;">Open Deckplan</div>
    </div> -->

    <!-- <br/> -->

    <div class="button-white close-button list-roll" style="width: 95%;">CLOSE MENU <i class="fa-solid fa-circle-xmark"></i></div>

</form>