<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <div class="header" style="grid-template-columns: 0.15fr 1fr;">
            <!-- Image -->
            <img class="sbt-profile" style="height: auto;" src="{{img}}" data-edit="img" title="{{name}}"/>

            <!-- NAME -->
            <div class="">
                <div class="headerinputtext">{{ localize 'Mosh.Name' }}</div>
                <div class="headerinputfield charname"><input name="name" class="noborder" type="text" value="{{name}}"
                        placeholder="{{ localize 'Mosh.Name' }}" /></div>
            </div>

        </div>
    </header>
    <br/>

    <div class="circle-statwrapper-horizontal">
        <!-- Bonus -->
        <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
            <label for="system.bonus" class="resource-label minmaxtext">{{ localize 'Mosh.Bonus' }}</label>

            <div class="valuewrapper" style="width: 120px; background: white;">
                <input class="maxhealth-input darkGreyText" type="text" name="system.bonus"
                    value="{{system.bonus}}" data-dtype="Number" />
            </div>
        </div>
        <!-- Rank -->
        <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
            <label for="system.rank" class="resource-label minmaxtext">{{ localize 'Mosh.RANK' }}</label>

            <div class="textvaluewrapper" style="width: 180px; background: white;">
                <input class="textvaluewrapper-input darkGreyText" type="text" name="system.rank" value="{{system.rank}}"
                    data-dtype="String" />
            </div>
        </div>
    </div>

    <br/>


    {{!-- Sheet Tab Navigation --}}
    <nav class="mosh sheet-tabs tabs" style="height: auto;" data-group="primary">
        <a class="tab-select" data-tab="description">{{ localize 'Mosh.Description' }}</a>
        <a class="tab-select" data-tab="skills.prerequisite">{{ localize 'Mosh.SkillsPrerequisite' }}</a>
    </nav>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor enriched.description target="system.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Skills Prerequisite Tab --}}
        <div class="tab dropitem items" id="skills.prerequisite" data-group="primary" data-tab="skills.prerequisite">   

            <!-- Common SKILLS -->
            <ol class="items-list" style="margin-bottom : 10px;">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="skill-stat">{{ localize 'Mosh.SkillName' }}</div>
                <div class="skill-stat">{{ localize 'Mosh.SkillRank' }}</div>
                <div class="skill-stat">{{ localize 'Mosh.SkillBonus' }}</div>
                <div class="item-controls">
                </div>
              </li>
              {{#each system.prerequisite_object as |skill id|}}
              <li class="item flexrow dropitem" data-item-id="{{skill._id}}">
                <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div>
                <div class="skill-name skill-roll list-roll">{{skill.name}}</div>
                <div class="skill-stat">{{skill.system.rank}}</div>
                <div class="skill-stat">{{skill.system.bonus}}</div>
                <div class="item-controls">
                  <a class="item-control skills-delete" title="{{ localize 'Mosh.DeleteSkill' }}"><i class="fas fa-trash"></i></a>
                </div>
              </li>
              {{/each}}
            </ol>
          </div>
    </section>
</form>
