<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Armor Points</label>
                  <input type="text" name="system.bonus" value="{{system.armorPoints}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">DMG Reduction</label>
                  <input type="text" name="system.features" value="{{system.damageReduction}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Max O2</label>
                  <input type="text" name="system.bonus" value="{{system.oxygenMax}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Current O2</label>
                  <input type="text" name="system.features" value="{{system.oxygenCurrent}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Speed</label>
                  <input type="text" name="system.features" value="{{system.speed}}" data-dtype="String"/>
              </div>
              <div class="resource">
                <label class="resource-label">Features</label>
                  <input type="text" name="system.features" value="{{system.features}}" data-dtype="String"/>
              </div>
              <div class="resource">
                <label class="resource-label">Equipped</label>
                <input type="checkbox" name="system.equipped" data-dtype="Boolean" {{checked system.equipped}}/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="item">Item</a> 
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Item Tab --}}
        <div class="tab ranges" data-group="primary" data-tab="item">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Value</label>
                    <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Weight</label>
                    <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </section>
</form>
