<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header" style="grid-template-columns: 0.15fr 1fr;">
            <!-- Image -->
            <img class="sbt-profile" style="height: auto;" src="{{img}}" data-edit="img" title="{{name}}"/>

            <!-- NAME -->
            <div class="">
                <div class="headerinputtext">{{ localize 'Mosh.Name' }}</div>
                <div class="headerinputfield charname"><input name="name" class="noborder" type="text" value="{{name}}"
                        placeholder="{{ localize 'Mosh.Name' }}" /></div>
            </div>

        </div>
    </header>

    <br/>
    <div class="circle-statwrapper-horizontal">
        <!-- Job -->
        <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
            <label for="system.job" class="resource-label minmaxtext">{{ localize 'Mosh.Job' }}</label>

            <div class="textvaluewrapper" style="width: 300px; background: white;">
                <input class="textvaluewrapper-input darkGreyText" type="text" name="system.job"
                    value="{{system.job}}" data-dtype="String" />
            </div>
        </div>
    </div>
    <br/>

    {{!-- Sheet Tab Navigation --}}
    <nav class="mosh sheet-tabs tabs" style="height: auto;" data-group="primary">
        <a class="tab-select" data-tab="description">{{ localize 'Mosh.Description' }}</a>
        <!-- <a class="tab-select" data-tab="attributes">Attributes</a> -->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
        </div>
    </section>
</form>
