<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Save Bonus</label>
                  <input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Features</label>
                  <input type="text" name="data.features" value="{{data.features}}" data-dtype="String"/>
              </div>
              <div class="resource">
                <label class="resource-label">Equipped</label>
                <input type="checkbox" name="data.equipped" data-dtype="Boolean" {{checked data.equipped}}/>
            </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <!-- <a class="item" data-tab="attributes">Attributes</a> -->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
        </div>
    </section>
</form>
