<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Damage</label>
                    <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Max Shots</label>
                    <input type="text" name="data.shots" value="{{data.shots}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Current Shots</label>
                    <input type="text" name="data.curShots" value="{{data.curShots}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Shots Per Firing</label>
                    <input type="text" name="data.shotsPerFire" value="{{data.shotsPerFire}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Use Ammo</label>
                    <input type="checkbox" name="data.useAmmo" value="{{data.useAmmo}}" {{#if data.useAmmo}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <div class="resource">
                    <label class="resource-label">Ammunition</label>
                    <input type="text" name="data.ammo" value="{{data.ammo}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Ammo Type</label>
                    <input type="text" name="data.ammoType" value="{{data.ammoType}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Critical Damage</label>
                    <input type="text" name="data.critDmg" value="{{data.critDmg}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Critical Effect</label>
                    <input type="text" name="data.critEffect" value="{{data.critEffect}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Skill Bonus</label>
                    <input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Range</label>
                    <input type="text" name="data.ranges.value" value="{{data.ranges.value}}" data-dtype="String" />
                </div>
                <hr />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <!-- <a class="item" data-tab="ranges">Ranges</a> -->
        <a class="item" data-tab="item">Item</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Ranges Tab --}}
        <div class="tab ranges" data-group="primary" data-tab="ranges">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Short Range</label>
                    <input type="text" name="data.ranges.short" value="{{data.ranges.short}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Medium Range</label>
                    <input type="text" name="data.ranges.medium" value="{{data.ranges.medium}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Long Range</label>
                    <input type="text" name="data.ranges.long" value="{{data.ranges.long}}" data-dtype="Number" />
                </div>
            </div>
        </div>

        {{!-- Item Tab --}}
        <div class="tab ranges" data-group="primary" data-tab="item">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Value</label>
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Weight</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </section>
</form>