<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <!-- <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/> -->
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Bonus</label>
                  <input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Rank</label>
                  <input type="text" name="data.rank" value="{{data.rank}}" data-dtype="Text"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="tab-select" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
        </div>
    </section>
</form>
