<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Damage</label>
                    <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Max Shots</label>
                    <input type="text" name="system.shots" value="{{system.shots}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Current Shots</label>
                    <input type="text" name="system.curShots" value="{{system.curShots}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Shots Per Firing</label>
                    <input type="text" name="system.shotsPerFire" value="{{system.shotsPerFire}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Ammunition</label>
                    <input type="text" name="system.ammo" value="{{system.ammo}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Ammo Type</label>
                    <input type="text" name="system.ammoType" value="{{system.ammoType}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Range</label>
                    <input type="text" name="system.ranges.value" value="{{system.ranges.value}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Critical Damage</label>
                    <input type="text" name="system.critDmg" value="{{system.critDmg}}" data-dtype="String" />
                </div>
                <div class="resource">
                    <label class="resource-label">Wound Effect</label>
                    <input list="woundRolls" name="system.woundEffect" value="{{system.woundEffect}}" data-dtype="String">
                    <datalist id="woundRolls">
                        <option value="Bleeding" />
                        <option value="Bleeding [-]" />
                        <option value="Bleeding [+]" />
                        <option value="Blunt Force" />
                        <option value="Blunt Force [-]" />
                        <option value="Blunt Force [+]" />
                        <option value="Fire & Explosives" />
                        <option value="Fire & Explosives [-]" />
                        <option value="Fire & Explosives [+]" />
                        <option value="Gore & Massive" />
                        <option value="Gore & Massive [-]" />
                        <option value="Gore & Massive [+]" />
                        <option value="Gunshot" />
                        <option value="Gunshot [-]" />
                        <option value="Gunshot [+]" />
                    </datalist>
                </div>
                <div class="resource">
                    <label class="resource-label">Anti-Armor</label>
                    <input type="checkbox" name="system.antiArmor" value="{{system.antiArmor}}" {{#if system.antiArmor}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <div class="resource">
                    <label class="resource-label">Uses Ammo</label>
                    <input type="checkbox" name="system.useAmmo" value="{{system.useAmmo}}" {{#if system.useAmmo}}checked{{/if}} data-dtype="Boolean" />
                </div>
                <hr />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <!-- <a class="item" data-tab="ranges">Ranges</a> -->
        <a class="item" data-tab="item">Item</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Ranges Tab --}}
        <div class="tab ranges" data-group="primary" data-tab="ranges">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Short Range</label>
                    <input type="text" name="system.ranges.short" value="{{system.ranges.short}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Medium Range</label>
                    <input type="text" name="system.ranges.medium" value="{{system.ranges.medium}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Long Range</label>
                    <input type="text" name="system.ranges.long" value="{{system.ranges.long}}" data-dtype="Number" />
                </div>
            </div>
        </div>

        {{!-- Item Tab --}}
        <div class="tab ranges" data-group="primary" data-tab="item">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Value</label>
                    <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Weight</label>
                    <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </section>
</form>