<form class="{{cssClass}}" autocomplete="off">
    <!-- <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
            <div class="grid grid-2col">
                <div class="resource">
                    <label class="resource-label">Quantity</label>
                    <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Hull</label>
                    <input type="text" name="system.hull" value="{{system.hull}}" data-dtype="Number" />
                </div>
                <div class="resource">
                    <label class="resource-label">Feature</label>
                    <input type="text" name="system.feature" value="{{system.feature}}" data-dtype="String" />
                </div>
            </div>
        </div>
    </header> -->

    <header class="sheet-header">
        <div class="header" style="grid-template-columns: 0.15fr 1fr;">
            <!-- Image -->
            <img class="sbt-profile" style="height: auto;" src="{{img}}" data-edit="img" title="{{name}}" />

            <!-- NAME -->
            <div class="">
                <div class="headerinputtext">{{ localize 'Mosh.Name' }}</div>
                <div class="headerinputfield charname"><input name="name" class="noborder" type="text" value="{{name}}"
                        placeholder="{{ localize 'Mosh.Name' }}" /></div>
            </div>

        </div>
    </header>
    <br />
    <div class="circle-statwrapper-horizontal">
        <!-- QUANTITY -->
        <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
            <label for="system.quantity" class="resource-label minmaxtext">{{ localize 'Mosh.Quantity' }}</label>

            <div class="valuewrapper" style="width: 120px; background: white;">
                <input class="maxhealth-input darkGreyText" type="text" name="system.quantity"
                    value="{{system.quantity}}" data-dtype="Number" />
            </div>
        </div>
        <!-- HULL -->
        <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
            <label for="system.hull" class="resource-label minmaxtext">{{ localize 'Mosh.Hull' }}</label>

            <div class="valuewrapper" style="width: 120px; background: white;">
                <input class="maxhealth-input darkGreyText" type="text" name="system.hull" value="{{system.hull}}"
                    data-dtype="Number" />
            </div>
        </div>
        <!-- VALUE -->
        <div class="resource healthspread minmaxtopstat flex-center" style="grid-template-rows: max-content;">
            <label for="system.cost" class="resource-label minmaxtext">{{ localize 'Mosh.Value' }}</label>
            
            <div class="valuewrapper" style="width: 120px; background: white;">
                <input class="maxhealth-input darkGreyText" type="text" name="system.cost" value="{{system.cost}}"
                    data-dtype="Number" />
            </div>
        </div>        
    </div>
    <br/>        
    <!-- Feature -->
    <div class="resource minmaxtopstat flex-center" style="grid-template-rows: max-content;">
        <label for="system.feature" class="resource-label minmaxtext">{{ localize 'Mosh.Feature' }}</label>

        <div class="textvaluewrapper" style="width: 100%; background: white;">
            <input class="textvaluewrapper-input darkGreyText" type="text" name="system.feature" value="{{system.feature}}"
                data-dtype="String" />
        </div>
    </div>
    <br />


    {{!-- Sheet Tab Navigation --}}
    <nav class="mosh sheet-tabs tabs" style="height: auto;" data-group="primary">
        <a class="tab-select" data-tab="description">{{ localize 'Mosh.Description' }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor enriched.description target="system.description" button=true owner=owner editable=true}}
        </div>
    </section>
</form>
